/**
 * --------------------------------------------------------------------
 * UTM Helve
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "UTM Helve Regular";
  font-display: swap;
  src: local("UTM Helve Regular"), url("fonts/utm_helve/UTM-Helve.ttf") format("woff"), url("fonts/utm_helve/UTM-Helve.ttf") format("opentype"), url("fonts/utm_helve/UTM-Helve.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTM Helve Regular Italic";
  font-display: swap;
  src: local("UTM Helve Regular Italic"), url("fonts/utm_helve/UTM-Helve_Italic.ttf") format("woff"), url("fonts/utm_helve/UTM-Helve_Italic.ttf") format("opentype"), url("fonts/utm_helve/UTM-Helve_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTM Helve Bold";
  font-display: swap;
  src: local("UTM Helve Bold"), url("fonts/utm_helve/UTM-HelveBold.ttf") format("woff"), url("fonts/utm_helve/UTM-HelveBold.ttf") format("opentype"), url("fonts/utm_helve/UTM-HelveBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTM Helve Bold Italic";
  font-display: swap;
  src: local("UTM Helve Bold Italic"), url("fonts/utm_helve/UTM-HelveBold_Italic.ttf") format("woff"), url("fonts/utm_helve/UTM-HelveBold_Italic.ttf") format("opentype"), url("fonts/utm_helve/UTM-HelveBold_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}
.uk-container {
  max-width: 1280px;
}
.uk-container-small {
  max-width: 846px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-16-xl {
    margin-left: -16px !important;
  }
  .uk-grid-16-xl > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-xl > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-16-l {
    margin-left: -16px !important;
  }
  .uk-grid-16-l > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-l > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-16-m {
    margin-left: -16px !important;
  }
  .uk-grid-16-m > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-m > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-16-s {
    margin-left: -16px !important;
  }
  .uk-grid-16-s > * {
    padding-left: 16px !important;
  }
  .uk-grid-16-s > .uk-grid-margin {
    margin-top: 16px !important;
  }
}

.uk-grid-16 {
  margin-left: -16px;
}
.uk-grid-16 > * {
  padding-left: 16px;
}
.uk-grid-16 > .uk-grid-margin {
  margin-top: 16px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-88-xl {
    margin-left: -88px !important;
  }
  .uk-grid-88-xl > * {
    padding-left: 88px !important;
  }
  .uk-grid-88-xl > .uk-grid-margin {
    margin-top: 88px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-88-l {
    margin-left: -88px !important;
  }
  .uk-grid-88-l > * {
    padding-left: 88px !important;
  }
  .uk-grid-88-l > .uk-grid-margin {
    margin-top: 88px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-88-m {
    margin-left: -88px !important;
  }
  .uk-grid-88-m > * {
    padding-left: 88px !important;
  }
  .uk-grid-88-m > .uk-grid-margin {
    margin-top: 88px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-88-s {
    margin-left: -88px !important;
  }
  .uk-grid-88-s > * {
    padding-left: 88px !important;
  }
  .uk-grid-88-s > .uk-grid-margin {
    margin-top: 88px !important;
  }
}

.uk-grid-88 {
  margin-left: -88px;
}
.uk-grid-88 > * {
  padding-left: 88px;
}
.uk-grid-88 > .uk-grid-margin {
  margin-top: 88px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}

/**
 * --------------------------------------------------------------------
 * row-gap
 * --------------------------------------------------------------------
 */
.row-gap-12 {
  row-gap: 12px;
}

.row-gap-16 {
  row-gap: 16px;
}

.row-gap-20 {
  row-gap: 20px;
}

.row-gap-24 {
  row-gap: 24px;
}

.row-gap-30 {
  row-gap: 30px;
}

@media (min-width: 960px) {
  .row-gap-40-m {
    row-gap: 40px;
  }
}

@media (min-width: 960px) {
  .row-gap-60-m {
    row-gap: 60px;
  }
}

/**
 * --------------------------------------------------------------------
 * column-gap
 * --------------------------------------------------------------------
 */
.column-gap-20 {
  column-gap: 20px;
}

.header {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  z-index: 9999;
}
.header__top {
  position: relative;
}
.header__top:not(.uk-navbar-transparent) {
  background: var(--header-top-left) top left, var(--header-top-right) top right;
  background-repeat: no-repeat;
  background-color: #273E8A;
}
.header__top__item, .header__top .uk-navbar-nav > li > a, .header__top .uk-navbar-item {
  min-height: 48px;
}
.header__top__btnLogin {
  border-radius: 6px;
  background: #58B1E4;
  font-size: 14px;
  font-family: "UTM Helve Regular", sans-serif;
  text-transform: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 24px;
}
.header__top__btnLogin:before {
  content: "";
  display: flex;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_251_1624)'%3E%3Cpath d='M7.00111 7.26985C9.00112 7.26985 10.636 5.63494 10.636 3.63493C10.636 1.63491 9.00112 0 7.00111 0C5.00109 0 3.36621 1.63491 3.36621 3.63493C3.36621 5.63494 5.00112 7.26985 7.00111 7.26985Z' fill='white'/%3E%3Cpath d='M13.2393 10.1746C13.144 9.93654 13.0171 9.71432 12.8742 9.50797C12.144 8.42859 11.0171 7.71431 9.74725 7.5397C9.58853 7.52384 9.41393 7.55556 9.28693 7.65081C8.62026 8.14288 7.82662 8.39684 7.00121 8.39684C6.17579 8.39684 5.38215 8.14288 4.71548 7.65081C4.58849 7.55556 4.41388 7.50796 4.25516 7.5397C2.98532 7.71431 1.84247 8.42859 1.12819 9.50797C0.985338 9.71432 0.858342 9.95243 0.763125 10.1746C0.715516 10.2699 0.731376 10.381 0.778984 10.4762C0.905981 10.6985 1.0647 10.9207 1.20755 11.1112C1.42977 11.4128 1.66787 11.6826 1.93772 11.9365C2.15993 12.1588 2.4139 12.3651 2.66789 12.5715C3.92184 13.508 5.42979 14 6.98535 14C8.5409 14 10.0488 13.508 11.3028 12.5715C11.5568 12.381 11.8107 12.1588 12.033 11.9365C12.2869 11.6826 12.5409 11.4127 12.7631 11.1112C12.9219 10.9048 13.0647 10.6985 13.1917 10.4762C13.271 10.381 13.2869 10.2699 13.2393 10.1746Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_251_1624'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
@media (min-width: 960px) {
  .header__top .uk-navbar-nav {
    gap: 40px;
  }
}
.header__top .uk-navbar-nav > li:nth-child(n+2) {
  position: relative;
}
.header__top .uk-navbar-nav > li:nth-child(n+2):before {
  content: "";
  width: 1px;
  height: 16px;
  background: #DDD;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}
.header__top .uk-navbar-nav > li > a {
  text-transform: inherit;
  font-size: 14px;
  color: #fff;
  font-family: "UTM Helve Regular", sans-serif;
  flex-direction: row;
  column-gap: 8px;
}
.header__top .uk-navbar-nav > li > a:before {
  content: "";
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  top: 1px;
}
.header__top .uk-navbar-nav > li.phone > *:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.91424 13.3925C3.92863 13.3925 2.72432 9.65267 5.87283 6.73938C6.00192 6.61975 6.2107 6.7301 6.18558 6.9041C6.1778 6.95894 6.02723 8.11104 6.86696 8.98554C6.65864 7.79154 6.46196 4.94425 8.86018 3.33718C9.01797 3.23152 9.21765 3.40262 9.13234 3.5769C9.12559 3.59105 8.40934 5.19644 11.1667 8.09585C11.1708 8.10017 11.175 8.10467 11.1785 8.10935C13.2977 10.8197 10.5202 13.3925 7.91443 13.3925C7.91443 13.3924 7.91424 13.3924 7.91424 13.3924V13.3925ZM7.19499 12.5746C7.04068 12.5746 6.9023 12.5176 6.79458 12.4099C5.80955 11.4249 5.82539 11.6403 6.88552 10.5793C7.17277 10.2919 7.45027 10.6113 7.59108 10.7521L8.58071 9.76255C8.43343 9.61508 8.11815 9.34667 8.40793 9.0568C9.46272 8.00173 9.25534 7.98317 10.2385 8.96595C10.4484 9.17567 10.4581 9.49395 10.2635 9.79592C9.59866 10.8291 8.7114 11.7165 7.62652 12.4336C7.48712 12.5259 7.33787 12.5746 7.1949 12.5746H7.19499Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0832 3.68036C12.8697 3.68036 11.5228 3.70951 11.4292 3.65879C11.3978 3.64211 11.3743 3.61679 11.3589 3.58726C9.77233 1.13981 6.21947 1.14206 4.63706 3.59457C4.60256 3.64801 4.54312 3.68036 4.47956 3.68036H2.91805C2.78258 3.68036 2.69024 3.54029 2.74799 3.41373C4.84256 -1.1792 11.2447 -1.07335 13.2543 3.41617C13.3019 3.52248 13.2425 3.67754 13.0833 3.68036H13.0832Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0228 6.74205C12.5371 6.74205 12.681 6.06142 12.6658 5.57777C12.6422 4.82861 12.4521 4.15088 12.1152 3.48141C11.9061 3.06601 12.5374 2.74529 12.7478 3.16285C13.343 4.34439 13.3771 5.11079 13.3771 6.38796C13.3771 6.58352 13.2183 6.74205 13.0228 6.74205ZM2.97733 6.74205C2.78186 6.74205 2.62323 6.58333 2.62323 6.38796C2.62323 5.10733 2.65023 4.34382 3.25314 3.16135C3.46446 2.74697 4.09662 3.06647 3.8839 3.48319C2.9523 5.30823 3.57696 6.35411 3.19811 6.66911C3.13511 6.72152 3.05805 6.74214 2.97724 6.74214L2.97733 6.74205ZM6.14919 15.3332C6.09687 15.3332 6.0454 15.3214 5.99806 15.2991C3.94699 14.3298 2.62305 12.2387 2.62305 9.97025C2.62305 9.50394 3.33124 9.50403 3.33124 9.97025C3.33124 11.9654 4.4958 13.8069 6.30031 14.6588C6.64034 14.8193 6.52466 15.3332 6.14909 15.3332H6.14919Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.74984 14.6216C6.30753 14.6216 6.19943 15.2419 6.61587 15.3902C6.76775 15.4443 7.22122 15.6252 7.34366 15.6252C7.78616 15.6252 7.89416 15.0048 7.47763 14.8565C7.32603 14.8025 6.8719 14.6217 6.74984 14.6217V14.6216Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.34322 15.9999C7.12984 15.9999 6.72137 15.8256 6.48971 15.7433C5.52802 15.4011 6.05424 13.9521 7.00618 14.291L7.60272 14.503C8.41403 14.7916 8.20272 15.9999 7.34312 15.9999H7.34322Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.28209 6.65625C2.03993 6.65625 1.84277 6.85341 1.84277 7.09556V9.31951C1.84277 9.56167 2.03974 9.75873 2.28209 9.75873H2.93693V6.65625H2.28209Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.12434 10.1338H2.282C1.83302 10.1338 1.46777 9.76848 1.46777 9.31951V7.09557C1.46777 6.6466 1.83302 6.28125 2.282 6.28125H3.12434C3.22784 6.28125 3.31184 6.36525 3.31184 6.46875V9.94623C3.31184 10.0497 3.22784 10.1339 3.12434 10.1339V10.1338Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0635 9.75873H13.7181C13.9603 9.75873 14.1574 9.56176 14.1574 9.31951V7.09556C14.1574 6.85341 13.9604 6.65625 13.7181 6.65625H13.0635V9.75873Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7183 10.1338H12.876C12.7725 10.1338 12.6885 10.0497 12.6885 9.94633V6.46875C12.6885 6.36525 12.7726 6.28125 12.876 6.28125H13.7183C14.1673 6.28125 14.5326 6.6466 14.5326 7.09557V9.31951C14.5326 9.76848 14.1673 10.1338 13.7183 10.1338Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.4205 12.1211C8.4617 11.433 9.31229 10.5826 9.94895 9.59331C9.98448 9.53799 10.0915 9.3488 9.97398 9.23143L9.3707 8.62805L8.67385 9.32237C8.87476 9.52496 9.15573 9.71884 8.9792 9.89537L7.72435 11.15C7.54725 11.3271 7.3545 11.0453 7.15397 10.8447L6.45703 11.539L7.06041 12.1447C7.15725 12.2418 7.30716 12.1959 7.4205 12.1211Z' fill='white'/%3E%3C/svg%3E");
}
.header__top .uk-navbar-nav > li.email > *:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.4 1.59998H1.6C0.72 1.59998 0 2.31998 0 3.19998V12.8C0 13.68 0.72 14.4 1.6 14.4H14.4C15.28 14.4 16 13.68 16 12.8V3.19998C16 2.31998 15.28 1.59998 14.4 1.59998ZM14.4 12.8H12.8V5.75998L8 8.79998L3.2 5.75998V12.8H1.6V3.19998H2.56L8 6.55998L13.44 3.19998H14.4V12.8Z' fill='white'/%3E%3C/svg%3E");
}
.header__bottom .uk-navbar-nav > li > a {
  color: #273E8A;
  font-size: 14px;
  font-family: "UTM Helve Regular", sans-serif;
}

.footer {
  background-color: var(--Blue, #273E8A);
}
.footer__bottom {
  border-top: 1px solid rgba(217, 217, 217, 0.12);
}
.footer__bottom__txt {
  font-size: 14px;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.footer__w413 {
  max-width: 413px;
  width: 100%;
}
@media (min-width: 960px) {
  .footer__w413 {
    min-width: 413px;
  }
}
.footer__top__title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-family: "UTM Helve Bold", sans-serif;
}
.footer__top__title--c1 {
  font-size: 1rem;
  line-height: 1.75;
  font-family: "UTM Helve Regular Italic", sans-serif;
  margin-bottom: 12px;
}
.footer__top__address {
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
}
.footer__top__address__name {
  color: #fff;
  font-family: "UTM Helve Bold", sans-serif;
}
.footer__top__navLink > li > a {
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
}
.footer__top__social a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #fff;
}
.footer__form__input {
  padding-right: calc(12px + var(--width-form)) !important;
  border-radius: 8px;
  background-color: #FFF !important;
  font-size: 14px;
  color: #666 !important;
  font-family: "UTM Helve Regular Italic", sans-serif;
  height: 48px !important;
}
.footer__form__input::placeholder {
  color: #AAA !important;
}
.footer__form__input:focus {
  border-color: #E92629 !important;
}
.footer__form__btn {
  width: var(--width-form);
  padding: 0;
  border-radius: 8px;
  background: var(--Red, #E92629);
  text-transform: inherit;
  font-size: 16px;
  font-family: "UTM Helve Bold", sans-serif;
  line-height: calc(48px - 2px);
}

.blockForm {
  background: linear-gradient(180deg, rgba(25, 155, 211, 0) 0%, rgba(25, 155, 211, 0.6) 258.54%);
  position: relative;
  z-index: 10;
}
.blockForm:before, .blockForm:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.blockForm:after {
  background: var(--bg-after);
  background-repeat: repeat-x;
  background-position: bottom center;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: -25px;
}
@media (min-width: 960px) {
  .blockForm:after {
    bottom: -27px;
  }
}
.blockForm__sectionContent {
  padding-bottom: 70px;
}
@media (min-width: 960px) {
  .blockForm__sectionContent {
    padding-bottom: 59px;
  }
}
.blockForm__heading__txt {
  color: var(--Red, #E92629);
  font-size: 1rem;
  line-height: 1;
  font-family: "UTM Helve Bold", sans-serif;
  font-style: italic;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  column-gap: 14px;
}
.blockForm__heading__txt:before, .blockForm__heading__txt:after {
  content: "";
  width: 43px;
  height: 7px;
  display: inline-flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.blockForm__heading__txt:before {
  background-image: var(--line-left);
}
.blockForm__heading__txt:after {
  background-image: var(--line-right);
}
.blockForm__heading__title {
  line-height: 1 !important;
}
.blockForm__card {
  border-radius: 12px;
  background: #F2FBFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
}
@media (min-width: 960px) {
  .blockForm__card {
    max-width: 522px;
    margin-top: 115px;
  }
}
.blockForm__card__title, .baiviet__title, .baiviet__article .uk-article-title, .flash_card__cauhoi__title, .login__title, .blockForm__heading__title {
  text-transform: uppercase;
  line-height: 1.375;
  font-size: calc(1.325rem + 0.9vw);
  font-family: "UTM Helve Bold", sans-serif;
  color: var(--Blue, #273E8A);
  text-align: center;
}
@media (min-width: 1200px) {
  .blockForm__card__title, .baiviet__title, .baiviet__article .uk-article-title, .flash_card__cauhoi__title, .login__title, .blockForm__heading__title {
    font-size: 2rem;
  }
}
.blockForm__card__desc {
  color: #262626;
  font-size: 1rem;
  line-height: 1.75;
  font-family: "UTM Helve Regular", sans-serif;
}
.blockForm__card__btnSelect {
  line-height: calc(48px - 2px);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.04) inset;
  border-radius: 4px;
  border: 1px solid rgba(25, 155, 211, 0.2);
  background: #FFF;
  text-align: left;
  padding: 0 20px;
  text-transform: inherit;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-family: "UTM Helve Regular Italic", sans-serif;
}
.blockForm__card__btnSubmit {
  line-height: calc(48px - 2px);
  text-transform: inherit;
  border-radius: 4px;
  background: var(--Blue-P, #199BD3);
  font-size: 1rem;
  font-family: "UTM Helve Bold", sans-serif;
}
.blockForm__card__input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid rgba(25, 155, 211, 0.2);
  background: #FFF;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.04) inset;
  padding: 0 20px;
  font-size: 1rem;
  font-family: "UTM Helve Regular Italic", sans-serif;
}
.blockForm__card__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 960px) {
  .login .uk-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 960px) {
  .login__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 960px) {
  .login__w522 {
    max-width: 100%;
    width: 522px;
  }
}
.login__btnBackhome {
  border-radius: 8px;
  border: 1px solid rgba(20, 55, 95, 0.04);
  background: #ECF4FD !important;
  line-height: 58px;
  width: 60px;
  padding: 0;
}
.login__forgotLink {
  color: var(--Blue, #14375F) !important;
  font-size: 14px;
  line-height: 1.57;
  font-family: "UTM Helve Regular", sans-serif;
}
.login__txt1 {
  color: rgba(38, 38, 38, 0.8);
  line-height: 1.5;
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
}
.login__txt1 a {
  color: var(--Blue, #273E8A);
  font-family: "UTM Helve Bold", sans-serif;
}
.login__title {
  line-height: 1.1 !important;
  text-align: left !important;
}
.login__desc {
  color: #000;
  line-height: 1.75;
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
}
.login__input {
  height: 60px;
  border-radius: 8px;
  background: #F1F7FD;
  font-family: "UTM Helve Regular Italic", sans-serif;
  padding: 0 20px;
}
.login__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.login__btnSubmit {
  line-height: calc(60px - 2px);
  border-radius: 8px;
  background: var(--Blue, #14375F) !important;
  font-size: 1rem;
  font-family: "UTM Helve Bold", sans-serif;
  text-transform: inherit;
}
.login__btnSocial {
  line-height: calc(60px - 2px);
  border-radius: 8px;
  background: #F1F7FD !important;
  color: rgba(38, 38, 38, 0.8) !important;
  text-transform: inherit;
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.login__btnSocial:before {
  content: "";
  display: flex;
  background-size: 100%;
  background: var(--social-url);
}
.login__btnSocial--google:before {
  width: 28px;
  height: 28px;
}
.login__btnSocial--fb:before {
  width: 32px;
  height: 32px;
}
.login__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
}
.login__line:before, .login__line:after {
  content: "";
  width: 1px;
  height: 40px;
  display: flex;
  border-left: 1px dashed rgba(0, 0, 0, 0.4);
}
.giangvien__cover {
  border-radius: 12px;
}
.giangvien__title {
  font-size: calc(1.325rem + 0.9vw);
  font-family: "UTM Helve Bold", sans-serif;
  color: #FFF;
  line-height: 1.12;
  min-height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .giangvien__title {
    font-size: 2rem;
  }
}
.giangvien__desc {
  font-size: 1rem;
  line-height: 1.75;
  color: #262626;
  text-align: center;
  font-family: "UTM Helve Regular", sans-serif;
}
.giangvien__desc strong {
  font-family: "UTM Helve Bold", sans-serif;
  color: var(--Red, #E92629);
}
.giangvien__desc span {
  font-family: "UTM Helve Bold", sans-serif;
  color: var(--Blue, #273E8A);
}
.giangvien__box {
  padding: 0 20px;
  padding-left: 88px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}
.giangvien__box > *:nth-child(1) {
  color: #262626;
  font-family: "UTM Helve Bold", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
}
.giangvien__box > *:nth-child(2) {
  color: #FFF;
  font-size: 0.875rem;
  font-family: "UTM Helve Bold", sans-serif;
  line-height: 1.4285714286;
}

.flash_card__cauhoi {
  background: #F9F0DA;
}
.flash_card__cauhoi__title {
  line-height: 1.375 !important;
}
.flash_card__cauhoi__desc {
  color: #172C48;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: "UTM Helve Regular", sans-serif;
  margin-bottom: 0;
}
.flash_card__cauhoi__accordion {
  background: rgba(244, 248, 255, 0.8);
  padding-left: 20px;
}
@media (min-width: 960px) {
  .flash_card__cauhoi__accordion {
    padding-left: 40px;
  }
}
.flash_card__cauhoi__accordion__li {
  padding-top: 24px;
  padding-bottom: 24px;
}
.flash_card__cauhoi__accordion__li:nth-child(n+2) {
  margin-top: 0;
  border-top: 2px solid #fff;
}
.flash_card__cauhoi__accordion__title {
  color: var(--text, #122E52);
  line-height: 1.2;
  font-size: 1.25rem;
  font-family: "UTM Helve Regular", sans-serif;
}
.uk-open > .flash_card__cauhoi__accordion__title {
  color: var(--color-2, #2854AB);
}
.flash_card__cauhoi__accordion__title:before {
  margin-right: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpolyline fill='none' stroke='%232854AB' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
}
.uk-open > .flash_card__cauhoi__accordion__title:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpolyline fill='none' stroke='%232854AB' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
}
.flash_card__cauhoi__accordion__content {
  margin-top: 24px;
}
@media (min-width: 960px) {
  .flash_card__cauhoi__accordion__content {
    padding-left: 48px;
  }
}
.flash_card__cauhoi__accordion__content > * {
  color: #484848;
  font-size: 1.125rem;
  font-family: "UTM Helve Regular", sans-serif;
  line-height: 1.33;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}
.flash_card__cauhoi__accordion__content > *:before {
  content: "";
  width: 4px;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  background: #2854AB;
  display: flex;
}

@media (min-width: 960px) {
  .baiviet__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.baiviet__box {
  color: var(--Red, #E92629);
  font-size: 14px;
  font-family: "UTM Helve Bold", sans-serif;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.baiviet__box > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.baiviet__box > *:nth-child(n+2):before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #E92629;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: inherit;
  position: relative;
  top: 3px;
}
.baiviet__article .uk-article-title {
  line-height: 1.4375 !important;
  text-transform: inherit;
}
.baiviet__article .uk-article-meta {
  color: #002A40;
  font-size: 1rem;
  line-height: 1.75;
  font-family: "UTM Helve Regular", sans-serif;
}
.baiviet__social {
  top: 20px;
  right: 0;
  left: 100%;
  padding-left: 0;
  width: max-content;
  position: absolute !important;
  max-width: calc(100% - var(--uk-position-margin-offset) * 2);
  box-sizing: border-box;
}
.baiviet__social__icon {
  border-radius: 28px;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.baiviet__slider-container-offset {
  margin-left: calc(0px - 14px);
  margin-right: calc(0px - 14px);
  padding-left: 14px;
  padding-right: 14px;
}
.baiviet__icon {
  width: 40px;
  height: 40px;
  background: #E2E2E2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}
.baiviet__icon:hover {
  background: #E92629;
}
.baiviet__card {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 12px;
}
.baiviet__card:hover {
  background: #EEF2FF;
  box-shadow: 0px 3px 12px rgba(39, 39, 45, 0.16);
}
.baiviet__card__coverImg {
  border-radius: 8px;
}
.baiviet__card__title {
  color: #363636;
  font-size: 1.125rem;
  line-height: 1.55;
  font-family: "UTM Helve Bold", sans-serif;
}
.baiviet__card__title a {
  color: #363636;
}
.baiviet__card:hover .baiviet__card__title a {
  color: var(--Blue, #273E8A);
}
.baiviet__card__time {
  color: var(--Blue, #273E8A);
  font-size: 1rem;
  font-family: "UTM Helve Regular", sans-serif;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}
.baiviet__card__time:before {
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  background: var(--icon-datetime);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.baiviet__card__linkMore {
  color: rgba(233, 38, 41, 0.6);
  text-transform: inherit;
  font-size: 1rem;
  font-family: "UTM Helve Regular Italic", sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.baiviet__card__linkMore:after {
  content: "";
  display: flex;
  background: var(--icon-more);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.baiviet__card:hover .baiviet__card__linkMore {
  color: var(--Red, #E92629);
  font-family: "UTM Helve Bold", sans-serif;
  font-style: italic;
}
.baiviet__title {
  line-height: 1.12;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.baiviet__title:after {
  content: "";
  width: 143px;
  height: 15px;
  display: flex;
  background: var(--icon-title-bottom);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
