.about{
  &__banner{
    background-color: #B51618;
    @include media-breakpoint-up('m'){
      min-height: 200px;
    }
  }
  &__trietly{
    min-height: 704px;
    padding-top: 60px;
    @include media-breakpoint-up('m'){
      padding-top: 70px;
    }
    &__title{
      color: #FEE92A !important;
      font-family: $font-PaytoneOne;
      @include font-size(28px);
      line-height: 1.28;
      text-transform: uppercase;
      -webkit-text-stroke: 2px #4F240C;
    }
    &__coverContainer{
      position: relative;
      &:before{
        content: "";
        background: var(--urlLine) no-repeat center;
        background-size: contain;
        height: 26px;
        display: flex;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        @include media-breakpoint-up('m'){
          opacity: 1;
        }
      }
      &:nth-child(1){
        &:before{
          width: 288px;
        }
      }
      &:nth-child(2){
        &:before{
          width: 299px;
        }
      }
      &:nth-child(3){
        &:before{
          width: 357px;
        }
      }
    }
    &__canvas{
      height: 136px;
      @include media-breakpoint-up('m'){
        height: 112px;
      }
    }
    &__box{
      color: #9B2A06;
      font-family: $font-HelveBold;
      //line-height: 1.75;
      @include font-size(16px);
      @include media-breakpoint-up('m'){
        padding-left: 30px;
        //padding-right: 30px;
      }
    }
  }
  &__phuongphapdaotao{
    &__gridTop{
      @include media-breakpoint-up('m'){
        margin-top: -120px !important;
      }
    }
    &__w1057{
      max-width: 100%;
      width: 1057px;
    }
    &__boxcard{
      @include media-breakpoint-up('m'){
        min-height: 237px;
        padding-top: 20px;
      }
      background: #fff;
      box-shadow: 0px 11.005254745483398px 22.010509490966797px rgba(0, 0, 0, 0.12);
    }
    &__lineimg{
      $x:97px;
      .left &{
        margin-left: #{$x};
      }
      .right &{
        margin-right: #{$x};
      }
    }
    &__avartar{
      border: 12px solid #fff;
    }
    &__body{
      padding-top: 12px;
    }
    &__title{
      color: #fff;
      max-width: 100%;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      @include font-size(20px);
      font-family: $font-HelveBold;
      margin-bottom: 40px;
    }
    &__desc{
      @extend .home__sugia__txt;
    }
  }
  &__sumenh{
    @include media-breakpoint-up('m'){
      min-height: 400px;
    }
    &__w590{
      max-width: 100%;
      width: 590px;
    }
    &__title{
      @extend .about__tamnhin__quote__title;
      color: var(--Blue, #273E8A);
    }
    &__desc{
      @extend .about__tamnhin__quote__desc;
      color: var(--Blue, #273E8A);
    }
    &__boxquote{
      position: relative;
      &:before,&:after{
        content: "";
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
      }
      &:before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Cpath d='M11.5 44.75C9 42 7.5 39 7.5 34C7.5 25.25 13.75 17.5 22.5 13.5L24.75 16.75C16.5 21.25 14.75 27 14.25 30.75C15.5 30 17.25 29.75 19 30C23.5 30.5 27 34 27 38.75C27 41 26 43.25 24.5 45C22.75 46.75 20.75 47.5 18.25 47.5C15.5 47.5 13 46.25 11.5 44.75ZM36.5 44.75C34 42 32.5 39 32.5 34C32.5 25.25 38.75 17.5 47.5 13.5L49.75 16.75C41.5 21.25 39.75 27 39.25 30.75C40.5 30 42.25 29.75 44 30C48.5 30.5 52 34 52 38.75C52 41 51 43.25 49.5 45C48 46.75 45.75 47.5 43.25 47.5C40.5 47.5 38 46.25 36.5 44.75Z' fill='%23D9DEEC'/%3E%3C/svg%3E");
      }
      &:after{
        top: 100%;
        right: 0;
        @include media-breakpoint-up('m'){
          bottom: -20px;
          left: 97%;
          top: inherit;
          right: inherit;
        }
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Cpath d='M48.25 44.25C50.75 41.5 52.25 38.5 52.25 33.5C52.25 24.75 46 17 37.25 13L35 16.25C43.25 20.75 45 26.5 45.5 30.25C44.25 29.5 42.5 29.25 40.75 29.5C36.25 30 32.75 33.5 32.75 38.25C32.75 40.5 33.75 42.75 35.25 44.5C37 46.25 39 47 41.5 47C44.25 47 46.75 45.75 48.25 44.25ZM23.25 44.25C25.75 41.5 27.25 38.5 27.25 33.5C27.25 24.75 21 17 12.25 13L10 16.25C18.25 20.75 20 26.5 20.5 30.25C19.25 29.5 17.5 29.25 15.75 29.5C11.25 30 7.75 33.5 7.75 38.25C7.75 40.5 8.75 42.75 10.25 44.5C11.75 46.25 14 47 16.5 47C19.25 47 21.75 45.75 23.25 44.25Z' fill='%23D9DEEC'/%3E%3C/svg%3E");
      }
    }
  }
  &__tamnhin{
    background: #B42D45;
    @include media-breakpoint-up('m'){
      min-height: 400px;
    }
    &__w421{
      max-width: 100%;
      width: 421px;
    }
    &__bg{
      max-width: 100%;
      width: 1440px;
      margin: 0 auto;
      @include media-breakpoint-up('m'){
        min-height: 400px;
      }
    }
    &__section{
      padding-top: 40px;
      padding-bottom: 40px;
      @include media-breakpoint-up('m'){
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    &__quote{
      position: relative;
      &:before,&:after{
        content: "";
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
      }
      &:before{
        top: 0;
        left: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Cpath d='M11.5 44.75C9 42 7.5 39 7.5 34C7.5 25.25 13.75 17.5 22.5 13.5L24.75 16.75C16.5 21.25 14.75 27 14.25 30.75C15.5 30 17.25 29.75 19 30C23.5 30.5 27 34 27 38.75C27 41 26 43.25 24.5 45C22.75 46.75 20.75 47.5 18.25 47.5C15.5 47.5 13 46.25 11.5 44.75ZM36.5 44.75C34 42 32.5 39 32.5 34C32.5 25.25 38.75 17.5 47.5 13.5L49.75 16.75C41.5 21.25 39.75 27 39.25 30.75C40.5 30 42.25 29.75 44 30C48.5 30.5 52 34 52 38.75C52 41 51 43.25 49.5 45C48 46.75 45.75 47.5 43.25 47.5C40.5 47.5 38 46.25 36.5 44.75Z' fill='%23DC7273'/%3E%3C/svg%3E");
      }
      &:after{
        position: absolute;
        bottom: -10px;
        left: 97%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60' fill='none'%3E%3Cpath d='M48.25 44.25C50.75 41.5 52.25 38.5 52.25 33.5C52.25 24.75 46 17 37.25 13L35 16.25C43.25 20.75 45 26.5 45.5 30.25C44.25 29.5 42.5 29.25 40.75 29.5C36.25 30 32.75 33.5 32.75 38.25C32.75 40.5 33.75 42.75 35.25 44.5C37 46.25 39 47 41.5 47C44.25 47 46.75 45.75 48.25 44.25ZM23.25 44.25C25.75 41.5 27.25 38.5 27.25 33.5C27.25 24.75 21 17 12.25 13L10 16.25C18.25 20.75 20 26.5 20.5 30.25C19.25 29.5 17.5 29.25 15.75 29.5C11.25 30 7.75 33.5 7.75 38.25C7.75 40.5 8.75 42.75 10.25 44.5C11.75 46.25 14 47 16.5 47C19.25 47 21.75 45.75 23.25 44.25Z' fill='%23DC7273'/%3E%3C/svg%3E");
      }
      &__title{
        @include font-size(86px);
        line-height: 1.03;
        font-family: $font-Hurricane;
        margin: 0;
      }
      &__desc{
        font-family: $font-HelveBold;
        line-height: 1.33;
        @include font-size(24px);
        margin: 0;
      }
    }
  }
}