.tailieu{
  &__banner{
    @include media-breakpoint-up('m'){
      min-height: 200px;
    }
    background: var(--tailieu-bg) no-repeat bottom center;
    background-color: #273E8A;
    background-size: contain;
  }
  &__title{
    color: #000;
    @include font-size(24px);
    font-family: $font-HelveBold;
  }
  &__tab{
    >*{
      >*{
        border-radius: 7px;
        background: rgba(0, 0, 0, 0.04) !important;
        @include font-size(18px);
        font-family: $font-HelveBold;
        text-transform: inherit !important;
        min-height: 48px;
        display: flex;
        align-items: center;
        padding: 0 25px !important;
      }
      &.uk-active{
        >*{
          background: #E0F6FF !important;
          color: var(--Blue-P, #199BD3) !important;
        }
      }
    }
  }
  &__card{
    padding: 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.08);
    &__img{
      border-radius: 6px;
    }
    &__title{
      color: var(--Blue, #273E8A);
      font-size: 16px;
      font-family: $font-HelveBold;
      a{
        color: var(--Blue, #273E8A);
      }
    }
    &__download{
      color: var(--Blue-P, #199BD3);
      font-size: 16px;
      font-family: $font-Helve;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      &:after{
        content: "";
        width: 16px;
        height: 16px;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1_134583)'%3E%3Cpath d='M15.7307 10.7309C15.5514 10.5515 15.3333 10.4617 15.077 10.4617H10.6154L9.30768 11.7693C8.93586 12.1282 8.49999 12.3078 8 12.3078C7.50011 12.3078 7.0641 12.1285 6.69232 11.7693L5.39425 10.4617H0.923065C0.666703 10.4617 0.448768 10.5516 0.269227 10.7309C0.08972 10.9103 0 11.1283 0 11.3848V14.4617C0 14.7181 0.08972 14.936 0.269227 15.1155C0.448735 15.2949 0.66667 15.3846 0.923065 15.3846H15.0771C15.3334 15.3846 15.5515 15.2949 15.7308 15.1155C15.9103 14.936 16 14.7181 16 14.4617V11.3848C16 11.1283 15.9103 10.9103 15.7307 10.7309ZM12.1252 13.9713C12.0032 14.0931 11.8589 14.1539 11.6923 14.1539C11.5256 14.1539 11.3815 14.0931 11.2596 13.9713C11.1379 13.8494 11.077 13.7053 11.077 13.5387C11.077 13.372 11.1379 13.2276 11.2596 13.106C11.3815 12.9841 11.5256 12.9231 11.6923 12.9231C11.8589 12.9231 12.0032 12.9841 12.1252 13.106C12.2468 13.2276 12.3077 13.372 12.3077 13.5387C12.3077 13.7052 12.2468 13.8494 12.1252 13.9713ZM14.5865 13.9713C14.4648 14.0931 14.3205 14.1539 14.1538 14.1539C13.9872 14.1539 13.843 14.0931 13.7212 13.9713C13.5995 13.8494 13.5386 13.7053 13.5386 13.5387C13.5386 13.372 13.5995 13.2276 13.7212 13.106C13.843 12.9841 13.9872 12.9231 14.1538 12.9231C14.3205 12.9231 14.4648 12.9841 14.5865 13.106C14.7084 13.2276 14.7693 13.372 14.7693 13.5387C14.7693 13.7052 14.7085 13.8494 14.5865 13.9713Z' fill='%23199BD3'/%3E%3Cpath d='M7.5677 10.8943C7.68315 11.016 7.82736 11.0768 8.00037 11.0768C8.17351 11.0768 8.31755 11.016 8.43304 10.8943L12.7408 6.5865C12.9394 6.40062 12.9844 6.17622 12.8754 5.9134C12.7666 5.66347 12.5774 5.53848 12.3081 5.53835H9.8465V1.23064C9.8465 1.064 9.78551 0.919757 9.66393 0.797975C9.54201 0.676159 9.39783 0.615234 9.23126 0.615234H6.76948C6.6029 0.615234 6.45866 0.676159 6.33681 0.797975C6.21506 0.919757 6.15414 1.06397 6.15414 1.23064V5.53838H3.6926C3.42323 5.53838 3.23423 5.6635 3.12524 5.91343C3.01633 6.17616 3.06115 6.40066 3.25992 6.58653L7.5677 10.8943Z' fill='%23199BD3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_134583'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }
  &__modal{
    $x:48px;
    &__w366{
      max-width: 100%;
      width: 366px;
    }
    &__imgCover{
      margin-top: -65px;
    }
    &__title{
      @include font-size(20px);
      text-transform: uppercase;
      line-height: 1.6;
      font-family: $font-HelveBold;
      color: #fff;
      margin: 0;
    }
    &__dialog{
      border-radius: 12px;
      border-bottom: 4px solid var(--Blue-P, #199BD3);
    }
    &__header{
      border-radius: 12px 12px 0 0;
      padding: 20px;
      background: #199BD3 url(images/tailieu/Group_45453.png) center;
    }
    &__body{

    }
    &__close{
      color: #e4e4e4;
      &:hover{
        color: #fff;
      }
    }
    &__input{
      height: #{$x};
      border-radius: 6px;
      border: 1px solid #199BD3;
      font-size: 14px;
      @include media-breakpoint-up('m'){
        padding-left: 20px;
        padding-right: 20px;
      }
      font-family: $font-Helve_Italic;
      &::placeholder{
        color: #AFAFAF;
      }
    }
    &__btnSend{
      line-height: calc(#{$x} - 2px);
      border-radius: 6px;
      background: var(--Blue, #273E8A);
      text-transform: inherit;
      font-size: 16px;
      font-family: $font-HelveBold;
      max-width: 100%;
      width: 200px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &:after{
        content: "";
        width: 16px;
        height: 16px;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M15.7307 11.2309C15.5514 11.0515 15.3333 10.9617 15.077 10.9617H10.6154L9.30768 12.2693C8.93586 12.6282 8.49999 12.8078 8 12.8078C7.50011 12.8078 7.0641 12.6285 6.69232 12.2693L5.39425 10.9617H0.923065C0.666703 10.9617 0.448768 11.0516 0.269227 11.2309C0.08972 11.4103 0 11.6283 0 11.8848V14.9617C0 15.2181 0.08972 15.436 0.269227 15.6155C0.448735 15.7949 0.66667 15.8846 0.923065 15.8846H15.0771C15.3334 15.8846 15.5515 15.7949 15.7308 15.6155C15.9103 15.436 16 15.2181 16 14.9617V11.8848C16 11.6283 15.9103 11.4103 15.7307 11.2309ZM12.1252 14.4713C12.0032 14.5931 11.8589 14.6539 11.6923 14.6539C11.5256 14.6539 11.3815 14.5931 11.2596 14.4713C11.1379 14.3494 11.077 14.2053 11.077 14.0387C11.077 13.872 11.1379 13.7276 11.2596 13.606C11.3815 13.4841 11.5256 13.4231 11.6923 13.4231C11.8589 13.4231 12.0032 13.4841 12.1252 13.606C12.2468 13.7276 12.3077 13.872 12.3077 14.0387C12.3077 14.2052 12.2468 14.3494 12.1252 14.4713ZM14.5865 14.4713C14.4648 14.5931 14.3205 14.6539 14.1538 14.6539C13.9872 14.6539 13.843 14.5931 13.7212 14.4713C13.5995 14.3494 13.5386 14.2053 13.5386 14.0387C13.5386 13.872 13.5995 13.7276 13.7212 13.606C13.843 13.4841 13.9872 13.4231 14.1538 13.4231C14.3205 13.4231 14.4648 13.4841 14.5865 13.606C14.7084 13.7276 14.7693 13.872 14.7693 14.0387C14.7693 14.2052 14.7085 14.3494 14.5865 14.4713Z' fill='white'/%3E%3Cpath d='M7.5677 11.3943C7.68315 11.516 7.82736 11.5768 8.00037 11.5768C8.17351 11.5768 8.31755 11.516 8.43304 11.3943L12.7408 7.0865C12.9394 6.90062 12.9844 6.67622 12.8754 6.4134C12.7666 6.16347 12.5774 6.03848 12.3081 6.03835H9.8465V1.73064C9.8465 1.564 9.78551 1.41976 9.66393 1.29797C9.54201 1.17616 9.39783 1.11523 9.23126 1.11523H6.76948C6.6029 1.11523 6.45866 1.17616 6.33681 1.29797C6.21506 1.41976 6.15414 1.56397 6.15414 1.73064V6.03838H3.6926C3.42323 6.03838 3.23423 6.1635 3.12524 6.41343C3.01633 6.67616 3.06115 6.90066 3.25992 7.08653L7.5677 11.3943Z' fill='white'/%3E%3C/svg%3E");
      }
    }
  }
}