/**
 * --------------------------------------------------------------------
 * row-gap
 * --------------------------------------------------------------------
 */
@mixin row-gap($i){
  row-gap: #{$i}px;
}
$x:12,16,20,30;
@each $i in $x{
  .row-gap-#{$i}{
    @include row-gap($i);
  }
}
$x:40,60;
@each $i in $x{
  .row-gap-#{$i}-m{
    @include media-breakpoint-up('m'){
      @include row-gap($i);
    }
  }
}
/**
 * --------------------------------------------------------------------
 * column-gap
 * --------------------------------------------------------------------
 */
@mixin column-gap($i){
  column-gap: #{$i}px;
}
$x:20;
@each $i in $x{
  .column-gap-#{$i}{
    @include column-gap($i);
  }
}