// Color
$primary-color: #273E8A;
$secondary-color: #E92629;

// Fonts families
$font-Helve: 'UTM Helve Regular',sans-serif;
$font-Helve_Italic: 'UTM Helve Regular Italic',sans-serif;
$font-HelveBold: 'UTM Helve Bold',sans-serif;
$font-HelveBold_Italic: 'UTM Helve Bold Italic',sans-serif;
$font-Inter: 'Inter', sans-serif;
$font-PaytoneOne: 'Paytone One',sans-serif;
$font-HelveticalNeue: 'Helvetica Neue',sans-serif;
$font-HelveticalNeueMedium: 'Helvetica Neue Medium',sans-serif;
//$font-Roboto-BoldItalic: 'Roboto Bold Italic',sans-serif;
//$font-Verdana: 'Verdana Regular',sans-serif;
//$font-Verdana-Bold: 'Verdana Bold',sans-serif;
//$font-secondary: 'Playfair Display',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 14px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
